.main-header{
    background-color: var(--color-main);
    padding-top:1rem;
    padding-bottom: 2rem;
    &__logo{
        width:100px;
    }
}
.main-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:2rem;

    &__list{
        display: flex;
        justify-content: space-between;
    }

    &__item{
        padding-left : 1rem;
        padding-right: 1rem;
        @include media(medium){
            padding: 1rem;
        }
    }
}


.banner{
    
    &-img{
        margin-top: 1rem;
        width:100%;
    }
    &-paragraph{
        line-height: 1.6;
        font-weight: 400;
    }
}