.main-header{
    background-color   : var(--color-intro);
    padding-top        : 1rem;
    padding-bottom     : 30px;
    margin-bottom      : 2rem;
    background-image   : url(/assets/img/bg-curvy-mobile.svg);
    background-position: bottom;
    background-repeat  : no-repeat;
    background-size    : 100% 50%;
    
    &__logo{
        width: 100px;
    }
}
.main-menu{
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 2rem;

    &__list{
        display        : flex;
        justify-content: space-between;
    }

    &__item{
        padding-left : 1rem;
        padding-right: 1rem;
        @include media(medium){
            padding: 1rem;
        }
    }
}


.banner{
    &-img{
        margin-top: 1rem;
        width     : 60%;
    }

    &-title{
        font-size: var(--h1-font-size);
    }
    &-paragraph{
        line-height: 1.6;
        font-weight: 400;
    }   

    &-content{
        @include media(large){
            max-width: 50%;
            margin   : 0 auto;
        }
    }
}
