.productive{
    margin-bottom: 2rem;
    @include media(large){
        display        : flex;
        justify-content: center;
        align-items    : center;
    }

    .productive-content{
        
        @include media(medium){
            margin-left: 1rem;
        }

        &__title{
            @include media(large){
                text-align: start;
            } 
        }
    }
}

.productive-img{
    width        : 100%;
    margin-bottom: 2rem;
}

.link-content{
    display: flex;
}

.link-blue{
    color          : var(--color-cyan);
    text-decoration: underline;
    margin-right   : 1rem;
}

