.l-container {
    max-width   : 1200px;
    margin-left : 1.3rem;
    margin-right: 1.3rem;
    @include media(medium){
        margin-left : auto;
        margin-right: auto;
    }
}

.center{
    text-align: center;
}

.p-auto{
    padding: 0 auto;
}