.l-container {
    max-width   : 1200px;
    margin-left : 1.3rem;
    margin-right: 1.3rem;
    @include media(large){
        margin-left : auto;
        margin-right: auto;
    }
}   

.cards{
    display      : flex;
    flex-wrap    : wrap;
    margin-bottom: 6rem;
}  

.footer-l{
    @include media(large){
        display              : grid;
        grid-template-columns: repeat(4,1fr);
        justify-content      : center;

    }
}
.center{
    text-align: center;
}

.p-auto{
    padding: 0 auto;
}

.mb-1{
    margin-bottom: 1rem;
}