/*Para ocupar el mixin se requiere de un breakpoint, este breakpoint
hsl(217,28%,15%);contiene las medidas que vamos a manejar para nuestras pantallas ya dependera
de nosotros que medidas vamos a tomar porque */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000; }

:root {
  --color-main: hsl(217,28%,13%);
  --color-intro: hsl(217,28%,15%);
  --color-footer: hsl(217,53%,9%);
  --color-testimonial: hsl(219,30%,18%);
  --color-cyan: hsl(176,68%,64%);
  --color-blue: hsl(198,60%,50%);
  --color-white: hsl(0,0%,100%); }

:root {
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --small-font-size: .95rem; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Raleway', sans-serif;
  color: var(--color-white);
  background-color: var(--color-main); }

a {
  display: block;
  text-decoration: none;
  color: var(--color-white); }
  @media screen and (min-width: 640px) {
    a {
      display: inline; } }

ul {
  padding-left: 0;
  list-style: none;
  margin: 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  margin-top: 0; }

h1 {
  font-size: var(--h1-font-size); }

h2 {
  font-size: var(--h2-font-size); }

.l-container {
  max-width: 1200px;
  margin-left: 1.3rem;
  margin-right: 1.3rem; }
  @media screen and (min-width: 640px) {
    .l-container {
      margin-left: auto;
      margin-right: auto; } }

.center {
  text-align: center; }

.p-auto {
  padding: 0 auto; }

.mb-1 {
  margin-bottom: 1rem; }

.main-header {
  background-color: var(--color-intro);
  padding-top: 1rem;
  padding-bottom: 30px;
  margin-bottom: 2rem;
  background-image: url(/assets/img/bg-curvy-mobile.svg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% 50%; }
  .main-header__logo {
    width: 100px; }

.main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem; }
  .main-menu__list {
    display: flex;
    justify-content: space-between; }
  .main-menu__item {
    padding-left: 1rem;
    padding-right: 1rem; }
    @media screen and (min-width: 640px) {
      .main-menu__item {
        padding: 1rem; } }

.banner-img {
  margin-top: 1rem;
  width: 60%; }

.banner-paragraph {
  line-height: 1.6;
  font-weight: 400; }

.button {
  padding: 1rem; }

.button-blue {
  margin: 0 4rem;
  background-color: var(--color-blue);
  border-radius: 50px; }

.button-access {
  width: 100%;
  margin: 0; }

.cards-items {
  margin-bottom: 3rem;
  padding: 0 3rem; }

.productive {
  margin-bottom: 2rem; }

.productive-img {
  width: 100%;
  margin-bottom: 2rem; }

.link-content {
  display: flex; }

.link-blue {
  color: var(--color-cyan);
  text-decoration: underline;
  margin-right: 1rem; }

.testimonial {
  margin: 0 3.5rem 12rem; }
  .testimonial-items {
    background-color: var(--color-testimonial);
    padding: 1.5rem;
    margin-bottom: 1rem; }
    .testimonial-items__info {
      display: flex;
      align-items: center; }
    .testimonial-items__paragraph {
      font-weight: 700; }
    .testimonial-items__span {
      font-size: 12px; }
  .testimonial-img {
    height: 50px;
    border-radius: 50%;
    margin-right: 1rem; }

.footer {
  background-color: var(--color-footer); }
  .footer-access {
    padding: 2.5rem;
    border: 1px solid red;
    background-color: var(--color-intro);
    position: relative;
    bottom: 8rem; }
  .footer-information {
    margin-top: -4rem;
    margin-bottom: 2rem; }
    .footer-information__items {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem; }
  .footer-icons {
    height: 1rem;
    margin-right: 1rem; }
  .footer-menu__item {
    padding: 1rem 0 1rem; }

.section-icons {
  display: flex;
  justify-content: center; }

.icons-networks {
  padding: 0 2rem; }

.input {
  display: block;
  margin: 0 auto;
  padding: .7rem 1.5rem;
  border-radius: 50px;
  margin-bottom: 1rem; }

.coded {
  margin-bottom: 0; }
